 <mat-sidenav-container class="example-container"  >
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')" (closed)="events.push('close!')">
    <button mat-button (click)="sidenav.toggle()">&#10005;</button>
    <app-sidenav (click)="sidenav.toggle()"></app-sidenav>
  </mat-sidenav>

  <mat-sidenav-content>
     
 
	<mat-card class="example-card">

		<button mat-button (click)="sidenav.toggle()">Side Nav</button>

		<nav>
			<ul>
				
				<li>
					<a mat-list-item routerLink="/">Home</a>
				</li>		
				<li>
					<a mat-list-item routerLink="/signin">Sign In</a>
				</li>
				<li>
					<a mat-list-item routerLink="/help">English Help</a>
				</li>
				<li>
					<a mat-list-item routerLink="/celebrations">Celebration Speeches</a>
				</li>
				<li>
					<a mat-list-item routerLink="/weddings">Wedding Speeches</a>
				</li>
				<li>
					<a mat-list-item routerLink="/esl">ESL</a>
				</li>				
			</ul>
		</nav>

		<router-outlet></router-outlet>


		<p>
	  		<span matBadge="4" matBadgeColor="accent" matBadgeOverlap="true">Lessons</span>
		</p>
		<article>Here you can chose the types of learning...</article>
		<p id='d'>&#10025;</p>
	</mat-card>


  </mat-sidenav-content>
</mat-sidenav-container>

